/* Light theme colors */
body[data-theme="light"] {
  --color-1: hsl(0, 0%, 100%);
  --color-2: hsl(225, 100%, 98%);
  --color-3: hsl(227, 47%, 96%);
  --color-4: hsl(230, 12%, 44%);
  --color-5: hsl(230, 17%, 14%);
  --color-6: hsl(163, 71%, 41%);
  --color-7: hsl(208, 92%, 53%);
  --color-8: hsl(348, 97%, 39%);
  --color-9: hsl(356, 69%, 56%);
  --color-10: hsl(228, 33%, 91%);
  --toggle: hsl(230, 22%, 74%);
  --hr: hsl(230, 12%, 44%);
  --toggle-bg: hsl(228, 12%, 44%);
}
/* Dark theme colors */
body[data-theme="dark"] {
  --color-1: hsl(230, 17%, 14%);
  --color-2: hsl(232, 19%, 15%);
  --color-3: hsl(228, 28%, 20%);
  --color-4: hsl(228, 34%, 66%);
  --color-5: hsl(0, 0%, 100%);
  --color-6: hsl(163, 71%, 41%);
  --color-7: hsl(208, 92%, 53%);
  --color-8: hsl(348, 97%, 39%);
  --color-9: hsl(356, 69%, 56%);
  --color-10: hsl(228, 25%, 27%);
  --hr: hsl(228, 25%, 27%);
  --toggle: hsl(228, 28%, 20%);
  --toggle-bg: linear-gradient(to left, #388fe7, #40db82);
}
body {
  font-family: "Inter", sans-serif;
  color: var(--color-5);
  background-color: var(--color-1);
  min-width: 375px;
}

h2 {
  font-size: 14px;
  color: var(--color-4);
  font-weight: 400;
  line-height: 2rem;
}

header {
  padding: 25px;
  padding-top: 2.5rem;
  height: 235px;
  max-width: 1440px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--color-2);
}

#header-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  margin: auto;
}

.wrapper {
  max-width: 1110px;
  margin: auto;
}
#title-main {
  font-size: 24px;
  font-weight: 700;
}

#change-theme {
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header hr {
  margin: 25px auto;
  border-radius: 1px;
  width: 100%;
  border: 1px solid var(--hr);
}

#switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}
label {
  cursor: pointer;
  display: block;
  text-indent: -9999px;
  height: 24px;
  width: 60px;
  background-color: var(--toggle);
  border-radius: 50px;
  position: relative;
  transition: 0.5s ease;
}
label::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: var(--color-3);
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: 0.5s ease;
}
input:checked + label {
  background: var(--toggle-bg);
}

input:checked + label::after {
  background-color: var(--toggle);
  left: calc(100% - 25px);
}

.SocialMedia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: 0 auto;
  margin-top: -0px;
}

.platform-container {
  flex: 1;
  width: 300px;
  border: 15px;
  padding: 50px;
  margin: 20px;
  background: var(--color-3);
}

.platform-container:hover {
  background: var(--color-10);
  cursor: pointer;
}

.facebook,
.twitter {
  border-top: 5px solid var(--color-7);
}

.platform-container.instagram {
  position: relative;
}

.platform-container.instagram::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  top: -1px;
  left: 0;
  background: linear-gradient(to left, #df4896, #ee877e, #fdc366);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* border-top: 5px solid #ee877e; */
/* border-image: ; */

.youtube {
  border-top: 5px solid var(--color-8);
}

.platform {
  justify-content: center;
}

.platform img {
  padding-right: 1rem;
}

.followers span:first-of-type {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -2px;
}

.followers span:last-of-type {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 5px;
  color: var(--color-4);
  font-weight: 400;
}

.today {
  font-size: 12px;
  font-weight: 700;
}

.up {
  color: green;
}

.down {
  color: red;
}
.overview-grid {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.overview-container {
  flex: 1;
  width: 300px;
  border: 15px;
  padding: 50px;
  margin: 20px;
  background: var(--color-3);
}

.overview-container:hover {
  background-color: var(--color-10);
  cursor: pointer;
}

.page-views {
  display: flex;
  justify-content: space-between;
}

.page-views:first-child {
  color: var(--color-4);
  font-size: 14;
  font-weight: 700;
}

.page-views.today {
  align-items: baseline;
}

.page-views.today span:first-child {
  font-size: 32px;
  color: var(--color-5);
}

.row-between {
  justify-content: space-between;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 24px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  header {
    margin: auto;
    height: 235px;
  }

  #header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1110px;
    margin: auto;
  }

  #title-main {
    font-size: 28px;
    font-weight: 700;
  }

  header hr {
    display: none;
  }

  #switch {
    margin-left: 2rem;
  }

  .platform-container {
    width: 255px;
    height: 216px;
    margin: 1px;
  }

  #social-platforms {
    flex-direction: row;
    justify-content: space-around;
    margin-top: -85px;
  }

  .overview-container {
    width: 255px;
    height: 125px;
  }
}
